<main>

    <h2>Thank you {{name}}, we have received your feedback.</h2>


    <h3>This is the information you have provided</h3>
    <ul>
        <li>Post ID: {{id}}</li>
        <li>Gym: {{gym}}</li>
        <li>Duration: {{duration}}</li>
        <li>Favourite exercise: {{exercise}}</li>
    </ul>

    {{!-- <div><a href="/delete/{{name}}">delete feedback</a></div> --}}

</main>