<h2>Thank you {{name}}, for posting your feedback</h2>

<br>


<h3>Your feedback information</h3>
<ul>
    <li>Feedback no: {{id}}</li>
    <li>Gym: {{gym}}</li>
    <li>Duration: {{duration}}</li>
    <li>Favourite exercise: {{exercise}}</li>
</ul>